<table class="table table-striped" ng-controller="UnitsCtrl">
	<thead>
		<tr>
			<td>Einheit</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="unit in units._embedded.unitsEntities">
			<td>{{unit.unit}}</td>
			<td><a href="{{unit.id}}"><span
					class="glyphicon glyphicon-edit"></span></a></td>
			<td><a href="{{unit.id}}"><span
					class="glyphicon glyphicon-trash"></span></a></td>
		</tr>
	</tbody>
</table>

<a href="" ng-click="addUnit()"> 
	<span class="glyphicon glyphicon-plus">Hinzufügen</span>
</a>